*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    /* outline: 1px solid #f00; */
}

img {
    width: 100%;
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto 15px;
    /* border: 10px solid #cc0; */
}

.portfolio {
}

.demo {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    /* border: 1px solid #000; */
    /* background-color: #000; */
    position: relative;
}
.demo:nth-child(even):after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: .5;
    z-index: -1;
}
/* .demo:nth-child(odd) {
    z-index: -1;
    background-color: #999;
    opacity: .3;
} */
.demo:nth-child(4) a {
    width: 25%;
}

.title {
    /* background-color: aqua; */
}
h2 {
   font-size: 50px; 
}
h2 a {
    position: relative;
}
h2 a:before {
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 5px;
    left: 0;
    opacity: .5;

}

.pic {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}
.pic a {
    margin-left: 5px;
}

.pic img {
    /* width: 20%; */
    max-height: 600px;
}

iframe {
    max-height: 360px;
    /* max-width: 23%; */
    max-width: 560px;
    width: 560px;
    height: 360px;
    padding: 10px;
}


/* <iframe width="560" height="315" src="https://www.youtube.com/embed/F7dtXn-d3wo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> */