*{
    padding: 0;
    margin: 0;
    list-style: none;    
    outline: 1px solid #fa0;
}
img {
    vertical-align: middle;
}
body {
    margin: auto;
}
.container  {
    width: 100%;
    margin: 10px auto 0;
    max-width: 1200px;
    outline: 5px solid #000;
}





.cloud .item {
    text-align: center;
}


@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        background-color: #fa0;
    }
    .cloud .item {
        width: 100%;
    }
    .cloud .container img {
        width: 100%;
    } 
}